services:
  app:
    build:
      context: ./docker/app
      dockerfile: Dockerfile
    extra_hosts:
      - "host.docker.internal:host-gateway"
    logging:
      driver: 'json-file'
      options:
        max-size: '1G'
        max-file: '1'
    restart: always
    ulimits:
      nofile:
        soft: "65536"
        hard: "65536"
    volumes:
      - type: bind
        source: .
        target: /usr/src/app
    working_dir: /usr/src/app
